player-connection-mode=Listen
player-connection-guid=2627702893
player-connection-debug=0
player-connection-project-name=ultron_yolo-unity
player-connection-ip=160.85.232.77
player-connection-ip=172.28.96.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
