# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.2DTorusRaycast_Optimiz.iml
# Editor-based HTTP Client requests
/httpRequests/
