# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.2DCoinVisual.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
