player-connection-mode=Listen
player-connection-guid=3375204478
player-connection-debug=0
player-connection-project-name=island-drone
player-connection-ip=160.85.232.77
player-connection-ip=172.25.240.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
